.left-top-menu
  position: absolute
  display: flex
  top: 0
  left: 0
  z-index: 1
  padding: 15px
  align-items: center
  justify-content: center
  flex-direction: column
  margin: 0
  li
    display: block
    padding: 5px
    border-radius: 20px
    border: 1px solid transparent
    &.active
      border: 1px solid red
  .dice
    padding: 15px
    cursor: pointer